name: Release SpeechMaster App

on:
  push:
    tags:
      - "v*" # Start action on tag creation

jobs:
  build:
    runs-on: windows-latest
    
    # Give write permission for Github to create releases
    permissions:
      contents: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Publish
      run: |
        dotnet publish -c Release -r win-x64 --self-contained true -p:IncludeNativeLibrariesForSelfExtract=true -o ./publish_output

    - name: Create Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: ./publish_output/StreamRoulette.exe # Шлях до файлу
        generate_release_notes: true # Автоматично додає опис змін
